.course-list {
  display: flex;
  flex-wrap: wrap;
  
  justify-content: space-between;
  
  gap: 16px;
  
}

.enrolled-course-list {
  display: flex;
  flex-wrap: wrap;
  
  justify-content: space-between;

  gap: 16px;

}

.course-card {
  width: calc(33.333% - 16px);

  box-sizing: border-box;
  
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-card img {
  width: 150px;
  height: 100px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.course-card h3 {
  margin: 8px 0;
}

.progress-bar {
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  margin: 8px 0;
}

.progress {
  height: 24px;
  background-color: #4caf50;
  color: white;
  text-align: center;
  line-height: 24px;
  border-radius: 8px;
}









.header {
  position: fixed;
  top: 0;
  right: 0;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: white;
  z-index: 1000;
 
}


.dashboard-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.dashboard-btn:hover {
  background-color: #45a049;
}


.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}


body {
  padding-top: 70px;

}

.heading {
  text-align: center;
}
